In [14]:
import fxcmpy 

TOKEN = "7a6c03c12c3491ceed1906a2ee886355b2b6263d"

con = fxcmpy.fxcmpy(access_token = TOKEN, log_level = 'error')

instruments = con.get_instruments()

print(instruments[:5])

197 | EUR/USD | 2019-11-27 18:09:03.693000, 1.10001, 1.1001299999999998, 1.10256, 1.09917
['EUR/USD', 'USD/JPY', 'GBP/USD', 'USD/CHF', 'EUR/CHF']

In [15]:
import pandas as pd
import datetime as dt
con = fxcmpy.fxcmpy(config_file='fxcm.cfg')

In [16]:
con.subscribe_market_data('EUR/USD')

In [17]:
con.get_subscribed_symbols()

['EUR/USD']

In [18]:
con.is_subscribed('EUR/USD')

True

In [19]:
con.get_prices('EUR/USD')

                             Bid      Ask     High      Low
2019-11-27 18:09:36.255  1.09999  1.10011  1.10256  1.09917

In [20]:
con.get_last_price('EUR/USD')

Bid     1.09999
Ask     1.10011
High    1.10256
Low     1.09917
Name: 2019-11-27 18:09:36.255000, dtype: float64

In [21]:
#con.unsubscribe_market_data('EUR/USD')

In [22]:

def print_data(data, dataframe):
    print('%3d | %s | %s, %s, %s, %s, %s'
          % (len(dataframe), data['Symbol'],
             pd.to_datetime(int(data['Updated']), unit='ms'),
             data['Rates'][0], data['Rates'][1], data['Rates'][2],
             data['Rates'][3]))

In [23]:
#con.subscribe_market_data('EUR/USD', (print_data,))

# Account Information

In [24]:
con.get_accounts().T

                            0
accountId             1368993
accountName        1001368993
balance               4999.85
dayPL                   -0.15
equity                4999.85
grossPL                     0
hedging                     Y
mc                          N
mcDate
ratePrecision               0
t                           6
usableMargin          4999.85
usableMargin3         4999.85
usableMargin3Perc         100
usableMarginPerc          100
usdMr                       0
usdMr3                      0

# Placing Orders

In [25]:
con.get_open_positions().T

Empty DataFrame
Columns: []
Index: []

In [26]:
order = con.create_market_sell_order('EUR/USD', 100)

In [27]:
order = con.create_market_buy_order('USD/JPY', 200)

In [29]:
con.get_open_positions().T

                            0               1
accountId             1368993         1368993
accountName        1001368993      1001368993
amountK                   100             200
close                 1.09987         109.449
com                         0               0
currency              EUR/USD         USD/JPY
currencyPoint              10         18.2723
grossPL                   -16         -32.892
isBuy                   False            True
isDisabled              False           False
limit                       0               0
open                  1.09971         109.467
ratePrecision               5               3
roll                        0               0
stop                        0               0
stopMove                    0               0
t                           1               1
time           11272019181242  11272019181252
tradeId              66046658        66046659
usedMargin                325             500
valueDate
visiblePL                -1.6            -1.8